
#popup{
position:absolute;
display:hidden;
top:160px;
left:50%;
width:500px;
height:auto;
margin-left:-250px;
background-color:white;
z-index:6;
padding:20px;
border:solid 5px #333333;
border-radius:5px;
}
#popup h1{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#3F5C9A;
border-bottom:1px #3F5C9A solid;
margin:0;
padding:0;
}
#popup h3{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#666666;
margin:0;
padding:5px 0;
text-align:left;
}
#popup p{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#666666;
margin:0;
padding:5px;
text-align:justify;
}
#popup a{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#3F5C9A;
margin:0;
padding:5px;
text-align:right;
float:right;
}
#overlay-back {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 500%;
background: #000;
opacity: 0.6;
filter: alpha(opacity=60);
z-index: 5;
display: none
}
.close-image{
display: block;
float:right;
position:relative;
top:-15px;
right: -15px;
height: 20px;
}