/* Global Styles */

/* ------------------------------- */

body {
    background-color: #f8f8f8;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}

h1,h2,h3,h4,h5,h6,a{
    font-family: 'Roboto', sans-serif !important;
    font-weight: normal !important;
}

/* Wrappers */

/* ------------------------------- */

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    padding-top: 20px !important;
    min-height: 100vh;
    background-color: #fff;
}

#page-dash {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 100vh;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-static-side ul li {
    border-bottom: 1px solid #e7e7e7;
    //font-size: 96% !important;
}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */
.navbar-static-top{
    border: none;
    background: #3367D6;
    //box-shadow: 0px 1px 3px rgba(0,0,0,0.2) !important;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 10px;
    margin: 5px 0;
    //margin-bottom: 0 !important;
    min-height: 40px;
    color: #fff !important;
    transition: all linear 0.2s;

    text-transform: uppercase !important;
    font-family: 'Open Sans' !important;
    font-weight: bold !important;
    font-size: 96% !important;
}

.navbar-top-links li a .sub-link{
    color: #ddd;
    font-family: Arial !important;
    font-weight: lighter !important;
    font-size: 70% !important;
    margin-bottom: 0;
}

.navbar-top-links li a:hover, .navbar-top-links li a:hover .sub-link,
.navbar-top-links li a:focus, .navbar-top-links li a:focus .sub-link,
.navbar-top-links li a:active, .navbar-top-links li a:active .sub-link{
    //background: #fff;
    color: #3367D6 !important;
    transition: all linear 0.2s;
}

.dropdown-menu{
    min-width: 130px;
    border-radius: 1px;
    border: none !important;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

.navbar-top-links .dropdown-menu li {
    display: block;
    padding: 0 !important;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 5px 20px;
    margin: 0 !important;
    min-height: 0;
    color: #34425A !important;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */

.sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/* Buttons */

/* ------------------------------- */

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* Pages */

/* ------------------------------- */

/* Dashboard Chat */

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

/* Login Page */

.login-panel {
    margin-top: 25%;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* DataTables Overrides */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

/* Circle Buttons */

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px !important;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px !important;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px !important;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}


/**
 * MODIFICATIONS
 */
#wrap{
    padding-top: 50px !important;
    position: fixed;
    overflow-y: auto;
    top: 0;
    z-index: 100;
    height: 100vh;
    border-right: none;
    //background: #34425A;
}

#wrap ul li > a{
    //color: #444;
    transition: all linear 0.2s;
}

#wrap ul li a:hover,
#wrap ul li a:focus,
#wrap ul li a:active{
    //font-weight: bold;
    //color: #3367D6;
    color: #444;
    //padding-left: 20px;
    cursor: pointer;
    transition: all linear 0.2s;
}

.navbar-static-side{
    border: none;
}

*{
    border-radius: 0px !important;
}

/*#page-wrapper{
    background: #E3F2FD;
}*/

.btn{
    border-radius: 1px !important;
    border: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2) !important; 
}

.btn-default{
    background: #F7F7F7;
    box-shadow: none;
}

/* TABLE PANEL STYLING */
/*.*panel-default{
    border: none;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
}*/

.panel, .panel-body, .panel-heading{
    box-shadow: none;
}

.panel-heading{
    //background-color: #E1F5FE !important;
}

input, select, textarea{
    box-shadow: none !important;
}

table{
    //font-size: 96% !important;
}

/* TABLES STYLING */
table.table-condensed{
    border: none !important;
    margin: 10px 0;
    //box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}

.table-condensed tbody > tr:nth-child(even){
    background-color: #E3F2FD !important;
}

th, tr, td{
    border: none !important;
}

.table-condensed thead{
    background: #ddd;
    color: #FFF;
}


/* SIDE MENU */
#side-menu li ul li a{
    padding-left: 50px;
}

#side-menu li a i{
    margin-right: 5px;
}


/* DATA TABLES STYLING */
.dataTables_length{
    padding: 9px 3px 0px;
    margin: 10px 5px 10px 0 !important;
}

.dataTables_paginate{
    margin: 10px 0 !important;
    padding-top: 0;
}

.dataTables_filter{
    padding: 8px 3px 0px;
    margin: 10px 0 10px 20px !important;
}

.dataTables_filter input{
    width: 230px;
    padding: 3px;
    background: #FFF;
    border: 1px solid #c5c5c5;
}

.dataTables_filter input:focus{
    border: 1px solid #5BC0DE;
    box-shadow: 0px 0px 2px #5BC0DE;
}


/* DATEPICKER */
/*.datepicker, .datepicker1, .datepicker2, .datepicker21{
    z-index: 120 !important;
}*/