<?php

RolesController extends BaseController {



	/**
	* retrieve list of all roles
	*
	*/

	public function index(){


	}


	/**
	* return create form
	*
	*/
	public function create(){

	}


	/**
	* store created data
	*
	*/
	public function store(){


	}

	/**
	 * Display the specified role.
	 *
	 * @param  int  $id
	 * @return Response
	 */
	public function show($id)
	{
		

	}

	/**
	* return edit form with data
	*
	*/
	public function edit($id){

	}

	/**
	* update edited data
	*
	*/
	public function update($id){

	}


	/**
	*delete entity
	*
	*/
	public function destroy($id){

	}

	
}